<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/main.css">
    
    
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    

    
    
    
    <div class="ab">

    </div>


    <center>
        
            
            <div class="inner">
                <h1>Contact us</h1>
                
            
        <p >Name
    <input class="sc" type="text" name="Name" id="Name">
</p>
 <p >
    Gmail
    <input class="sc" type="text" name="Gamil" id="Gamil">
</p>
Phone
<input class="sc" type="text" name="phone" id="phone">
</p>
<form  action="/success">
<button type="submit">submit</button>

</form>

</div>

</center>
</body>
</html>
